[env]

[tasks.clean]
description = "Clean all exported builds and other cruft"
run = "rm -rf build"

[tasks.deploy-web]
description = "Deploy the web version to void.docwhat.org"
run = "rsync -av --delete-after --progress build/web/ gerf:/srv/website/srv/void/"

[tasks.export-all]
depends = ["export-web", "export-macos", "export-windows", "export-linux"]
description = "Export all platforms to build/"

[tasks.serve-web]
description = "Runs a web server to serve the built web export"
run = 'mise run ::: serve --root "${PWD}/build/web"'

[tasks.check]
description = "Check code for lint or static analysis issues"
run = "trunk check"

[tasks.fix]
alias = "fmt"
description = "Fix code style issues"
run = "trunk fix"

[tasks.game]
description = "Run the game"
run = "godot --path . --print-fps"

[tasks.godot]
description = "Run the Godot editor"
run = "(godot --path . --editor >& /dev/null &)"

[tasks.oxipng]
description = "Optimize PNG images"
run = "git ls-files --no-ignored -z '*.png' ':!:addons/' | xargs -0 oxipng --opt max --strip safe"

[tasks.pre-commit]
run = "hk run pre-commit"

[tasks.prelint]

[tasks.postlint]

[tasks.report]
description = "Show the latest report"
run = '''
n=$(printf "%s\n" -- reports/report_* | sed 's!.*_!!' | sort -n | tail -n1)

if [[ -f "reports/report_$n/index.html" ]]; then
    xdg-open "reports/report_$n/index.html" || open "reports/report_$n/index.html"
else
    echo "No report found"
    exit 1
fi
'''

[tasks.post-push]
run = "script/bump-version"

[tools]
oxipng = "9.1.5"
pkl = "0.29.1"
semver = "3.4.0"
taplo = "0.10.0"
usage = "2.8.0"
uv = "0.9.3"
yamllint = "1.37.1"
yq = "4.48.1"

[tools."http:trunk"]
url = "https://trunk.io/releases/trunk"
version = "latest"
